<!doctype html>
<html class="element">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://elementcss.neocities.org/dist/element-0.1.1.min.css">
    <link rel="stylesheet" href="base.css">
    <title>The Wandering Inn &mdash; Statistics and Word Count</title>
  </head>
  <body>
    <h1>The Wandering Inn &mdash; Statistics and Word Count</h1>

    <p><a href="index.html">Back to main page</a></p>

    <p>These data were last updated on <%= lastmod %>.</p>

    <%= supporter_info %>

    <%= frequently_asked_questions %>

    <h2>Table of contents</h2>
    <%= statistics_summary_table %>

    <table style="width: unset; margin-left: unset" id="statistics">
      <tr>
      <th>Chapter</th>
      <th>Word Count</th>
      </tr>
  <%= statistics_table %>
    </table>

  </body>
  <script>
    // Format word counts per locale settings.
    const nf = new Intl.NumberFormat();
    function fmt(dom) {
      for (const row of dom.getElementsByTagName("tr")) {
        cells = row.getElementsByTagName("td");
        if (cells.length > 1) {
          cells[1].innerText = nf.format(cells[1].innerText);
        }
      }
    }
    fmt(document.getElementById("statistics"));
    fmt(document.getElementById("statistics-summary"));
  </script>
</html>
